<h1>Welcome to Asiki Fitness, <%= @mailer_user.first_name %></h1>
<p>
  You have successfully created an account on Asiki.
</p>
<p>
  To visit Asiki, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining!</p>