<a data-turbolinks="false" href="/profile?user=<%= current_user.id %>" id="fav-user-<%= current_user.id %>"class="favorite-user"><%= current_user.first_name + ' ' + current_user.last_name[0,1] + '.' %></a>


