<div class="friend-options">
  <a class="friend-btn"><i class="fa fa-check" aria-hidden="true"></i> Friends</a>
  <div class="dropdown">
    <div class="arrow-up"></div>
    <div class="dropdown-content">
	  <%= link_to raw('<div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>Send message'), "/messages/#{@friend1.friend_id}", remote: true %>
	  <%= link_to raw('<div class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></div>Remove friend'), "/friends/#{@friend1.friend_id}/", remote: true, method: 'delete', data: { confirm: "Are you sure you want to remove this friend?" } %>
    </div>
  </div>
</div>
