<div class="article-container">
  <h1>
  <%= emojify ":scroll:", img_attrs: { title: nil }, class_name: "emoji-header-big" %>
  Asiki Contest General Information
  <%= emojify ":scroll:", img_attrs: { title: nil }, class_name: "emoji-header-big" %>
  </h1>
  <h2>What is an Asiki contest?</h2>
  <p>An Asiki contest is a fun way for you and others to challenge each other to keep exercising and complete more weekly workouts.
    Each contest will show who has accumulated the most fitness points over the designated timespan, along with who has had the 
	best individual workout results for each standard workout duration (1-minute, 3-minute, 5-minute and 10-minute workouts).</p>

  <h2>Who can participate?</h2>
  <p>Anyone can participate in an Asiki contest as long as they are invited by the contest leader (the person who created the contest).<p>
  
  <h2>How do I win?</h2>
  <p>The "winner" of a contest is a subjective matter, though the contestant with the most fitness points accumulated by the end of the 
  designated timespan will receive an achivement trophy. You can see who has the most points by checking the "Leaderboards" section of the contest.
  Achievement trophies will also be awarded to those who finish with the best 1-minute, 3-minute, 5-minute and 10-minute workouts.</p>
</div>