/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Raleway, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #4C534F;
  color: #FFFFFF;
  height: 100%;
}

html {height: 100%}

a, a:visited {
  color: #FFFFFF;
}

textarea {
  font-family: Raleway, sans-serif;
  resize: none;
}

img.emoji-header {
  height: 25px;
  width: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

div.emoji-invited{
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
}

div.emoji-invited img {
 height: 20px;
 width: 20px;
}

img.emoji-header-big {
  height: 35px;
  width: 35px;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: top;
  margin: 0;
}

img.emoji-contests-table {
  height: 70px;
  width: 70px;
}

div.emoji-option img {
  height: 50px;
  width: 50px;
  transform: scale(1);
  cursor: pointer;
  -webkit-filter: grayscale(100%);
}

div.emoji-option:hover img, div.emoji-option img.active-emoji {
-webkit-filter: grayscale(0%);
transform: scale(1.4);
}

img.emoji-table {
  height: 20px;
  width: 20px;
  margin: 0
}

img.emoji-dropdown {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}

img.emoji-big-table {
  height: 40px;
  width: 40px;
}

.menu-bar {
background-color: rgb(117, 161, 164);
width: 100%;
z-index:998;
height: 46px;
overflow: hidden;
}

.menu-bar .logo {
    float: left;
    margin-left: 15px;
}

.menu-bar ul.left, .menu-bar ul.right {
    list-style-type: none;
    background-color: rgb(117, 161, 164);
    font-size: 16px;
    display: inline-block;
}

.menu-bar ul.left {
  float: left;
}

.menu-bar ul.right {
  float: right;
  margin-right: 8%;
}

.menu-bar li {
    transition: all 0.3s;
    display: inline-block;
}

.menu-bar li a, .menu-bar .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s;
}

.menu-bar .dropdown:hover .dropbtn {
    background-color: rgb(19, 58, 117);
}

.menu-bar li a.notification-btn, .menu-bar li.notifications a.notification-btn-unread {
  border: 1px solid white;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: bold;
}

.notification-btn.active{
  background-color: #FFFFFF;
  color: rgb(19, 58, 117);
}

.notification-btn-unread {
  background-color: #E30000;
  color: #FFFFFF;
}

.menu-bar li a.notification-btn-unread:hover{
  background-color: #FFFFFF;
  color: #E30000;
}

.notification-btn-unread.active {
  background-color: #FFFFFF;
  color: #E30000;
}

.menu-bar li a.notification-btn:hover{
  background-color: #FFFFFF;
  color: rgb(19, 58, 117);
}

.menu-bar .dropdown-content{
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 123px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
    transition: all .3s;
    max-height: 300px;
    z-index: 998;
}

.menu-bar .dropdown-content i{
	padding-right: 6px;
}

.notification-menu {
    display: none;
    position: absolute;
    right: 8%;
    top: 46px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all .3s;
    max-height: 300px;
    z-index: 999;
    }

.notification-menu a{
 padding: 0;
 vertical-align: top;
 border-bottom: 1px solid #ddd;
}

.read-notification p.note-desc, .unread-notification p.note-desc{
  font-size: 14px;
  width: 230px; 
  display: inline-block; 
  vertical-align: top;
  padding: 2px 0px 10px 10px;
}

.read-notification p.read-icon, .unread-notification p.read-icon{
  font-size: 6px;
  display: inline-block; 
  vertical-align: middle;
  padding-left: 7px;
}

.read-notification p.read-icon {
  opacity: 0;
}

.read-notification .notification-header p.note-type, .unread-notification .notification-header p.note-type {
 padding-left: 5px;
}

.read-notification .notification-header p.note-type, .read-notification .notification-header p.note-timestamp, .unread-notification .notification-header p.note-type, .unread-notification .notification-header p.note-timestamp  {
  font-size: 8px;
  display: inline-block;
  vertical-align: top;
  color: #6E6E6E;
}

.read-notification .notification-header p.note-timestamp, .unread-notification .notification-header p.note-timestamp {
 float: right;
 padding-right: 5px;
 font-size: 10px;
}
.unread-notification {
background-color: #EFF3FA;
}

.menu-bar .notification-menu .read-notification:hover  {
 background-color: #EFEFEF;
}

.menu-bar .notification-menu .unread-notification:hover  {
 background-color: #DDE4F0;
}

.menu-bar .dropdown-content a.no-icon, .menu-bar .dropdown-content a.with-icon {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0s;
    border-bottom: 1px solid #ddd;
}

.menu-bar .dropdown-content a.no-icon {
padding: 12px 18px 12px 18px;
}

.menu-bar .dropdown-content a.with-icon {
padding: 12px 18px 12px 8px;
}

.menu-bar .dropdown-content a.with-icon div.menu-icon {
width: 23px;
display: inline-block;
}

.menu-bar .notification-menu a {
    color: black;
    padding: 0;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0s;
}

.menu-bar .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.menu-bar .dropdown-content a#menu-profile:hover i {
  color: #0014CD;
}
.menu-bar .dropdown-content a#menu-friends:hover i {
  color: #C708C7;
}
.menu-bar .dropdown-content a#menu-results:hover i {
  color: #00D27E;
}
.menu-bar .dropdown-content a#menu-settings:hover i {
  color: #ffbe26;
}
.menu-bar .dropdown-content a#menu-logout:hover i {
  color: #FE0000;
}
.menu-bar .dropdown-content a#menu-contests:hover i {
  color: #2AD942;
}

.menu-bar .dropdown-content a#menu-messages:hover i {
  color: #67CCD0;
}

.menu-bar .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

.qf-header h1{
font-size: 40px;
margin:0 auto;
margin-left: 20%;
margin-right: 20%;
padding-top: 20px;
padding-bottom: 10px;
border-bottom: 1px solid white;
font-weight: normal;
}

.qf-header p{
font-size: 18px;
margin:0 auto;
padding-top: 15px;
padding-bottom: 15px;
}


.good-notice-wrapper, .good-results-wrapper{
  position: absolute;
  width: 100%;
  height: 65px;
  background-color: rgb(19, 58, 117);
  color: #FFFFFF;
  opacity: 0.85;
  z-index: 999;
}
.bad-alert-wrapper {
  position: absolute;
  width: 100%;
  height: 65px;
  background-color: #FE0000;
  color: #FFFFFF;
  opacity: 0.85;
  z-index: 999;
}


.good-results-wrapper a, .good-results-wrapper a:visited{
color:#D8F5FE;
}

.good-notice-wrapper p, .good-results-wrapper p, .bad-alert-wrapper p {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
}

.close-notice-icon{
 cursor: pointer;
 display: inline-block;
 vertical-align: middle;
 height: 20px;
 line-height: 65px;
 position: absolute;
 right: 1%;
 font-size: 20px;
}

.bottom-menu{
 position: absolute;
 z-index: 0;
 bottom: 0;
 clear: both;
 width: 100%;
 height: 60px;
 background-color: #D9D9D9;
 color: black;
}

.bottom-menu a { 
  color:black;
  font-size: 14px;
  text-decoration: none;
}

.bottom-menu a:hover{
 color: rgb(19, 58, 117);
}

.bottom-menu ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.bottom-menu li {
  display: inline-block;
  margin: 20px;
}

div.reps-per-round {
	display: inline-block;
}

.hidden{
	visibility: hidden;
}

img.gravatar-image {
	border-radius: 100%;
}


	

