#invite-form{
 position: fixed;
 background-color: #33343a;
 border: 1px solid #000000;
 width: 500px;
 height: 100%;
 color: #FFFFFF;
 top: 0;
 margin-left: -501px;
 z-index: 997;
 box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
}

#invite-form a#hide-invitations {
 position: absolute;
 color: #FFFFFF;
 right: 7px;
 top: 3px;
 cursor: pointer;
 font-weight: bold;
 font-size: 14px;
}

#outstanding-invites {
 margin-top: 10px;
 display: inline-block;
 width: 350px;
 vertical-align: top;
}

#invite-form h2#outstanding-invites-header {
 width: 350px;
 font-weight: normal;
 font-size: 16px;
 border-bottom: 1px solid #FFFFFF;
 margin: auto;
}

.invited p{
 font-size: 16px;
 display: inline-block;
 max-width: 200px;
 font-color: #000000;
 overflow: hidden;
}

.invited {
 text-align: left;
 padding-top: 5px;
 padding-bottom: 5px;

}

#invite-form a#hide-invitations:hover {
 color:#FE4E4E;
}

#invite-form h1 {
 margin: 10px;
 font-weight: normal;
}

#invite-form form input {
  margin-right: 0;
  width: 280px;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}

#invite-form #add-invite-btn, #invite-form #add-friend-invite-btn {
  background-color: #2dbb5e;
  color: #FFFFFF;
  height: 42px;
  width: 60px;
  border: none;
  font-size: 16px;
  transition: all .4s;
  cursor: pointer;
}

#invite-form #add-invite-btn:hover, #invite-form #add-friend-invite-btn:hover {
  background-color: #4de66c;
}

div#message-display {
 height: 30px;
}

div#message-display p.good-message {
 color: #4de66c;
 font-size: 16px;
 padding-top: 2px;
}

div#message-display p.bad-message {
 color: #FEBABA;
 font-size: 16px;
 padding-top: 2px;
}



